<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Minikit</h4>

          </div>
          <div class="card-body">
            <mat-form-field class="col-md-3">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackById">
                <ng-container matColumnDef="assessmentYear">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>AssessmentYear</th>
                  <td mat-cell *matCellDef="let element"> {{element.assessmentYear}} </td>
                </ng-container>
                <ng-container matColumnDef="fld">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fld</th>
                  <td mat-cell *matCellDef="let element"> {{element.fld}} </td>
                </ng-container>
                <ng-container matColumnDef="nameOfFarmer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>NameOfFarmer</th>
                  <td mat-cell *matCellDef="let element"> {{element.nameOfFarmer}} </td>
                </ng-container>
                <ng-container matColumnDef="village">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Village</th>
                  <td mat-cell *matCellDef="let element"> {{element.village}} </td>
                </ng-container>

                <ng-container matColumnDef="season">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Season</th>
                  <td mat-cell *matCellDef="let element"> {{element.season}} </td>
                </ng-container>

                <ng-container matColumnDef="documentoryEvidence">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>DocumentoryEvidence</th>
                  <td mat-cell *matCellDef="let element"> {{element.documentoryEvidence}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <a mat-button (click)="edit(element)" title="Edit" data-toggle="modal" data-target="#editMinikit"
                      data-backdrop="static" data-keyboard="false">Edit</a>
                    <a mat-button (click)="deleteMinikit(element)" title="Delete" data-toggle="modal"
                      data-target="#deleteMinikit" data-backdrop="static" data-keyboard="false">Delete</a>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <!--   <button (click)="onPrint()" class="button">Print</button> -->
              <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit model -->
<app-edit-minikit [minikit]="minikitData"></app-edit-minikit>

<!-- Delete modal -->
<div class="modal fade" id="deleteMinikit" tabindex="-1" role="dialog" aria-labelledby="tryModalTitle"
  aria-hidden="true">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Do you want to delete Minikit - <strong>{{nof}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>

      <div class="modal-body p-4">
        <p>{{village}}</p>
      </div>

      <div class="modal-footer mx-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 text-center">
          <button type="button" class="btn btn-delete" title="Delete" data-dismiss="modal"
            (click)="delete(delMinikit._id)">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>