<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="tryModalTitle" aria-hidden="true">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>

      <div class="modal-body p-4" *ngIf="user">
        <form>
          <!-- name -->
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" #name="ngModel"
                required>
            </div>
          </div>

          <!--designation  -->
          <div class="form-group row">
            <label for="designation" class="col-sm-4 col-form-label">Designation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="designation" name="designation" [(ngModel)]="user.designation"
                #designation="ngModel" required>
            </div>
          </div>

          <!-- email -->
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" #email="ngModel"
                required>
            </div>
          </div>

          <!-- phoneNumber -->
          <div class="form-group row">
            <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                #phoneNumber="ngModel" required>
            </div>
          </div>

          <!-- DOB -->
          <div class="form-group row">
            <label for="dob" class="col-sm-4 col-form-label">DOB</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="dob" name="dob" [(ngModel)]="user.dob" #dob="ngModel" required>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer mx-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 text-center">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="update()">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>